<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Xcontent Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="XOOPS_UNIT_TEST" value="true"/>
        <const name="XOOPS_ROOT_PATH" value="./"/>
    </php>
</phpunit>